<%- include("../partials/header.ejs") %>

<div class="container">
  <div class="row flex-lg-nowrap">
    <div class="col-12 col-lg-auto mb-3" style="width: 200px;">
      <div class="card p-3">
        <div class="e-navlist e-navlist--active-bg">
          <ul class="nav">
          </ul>
        </div>
      </div>
    </div>
    <form action="/user/<%= user._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
      <div class="col">
        <div class="row">
          <div class="col mb-3">
            <div class="card">
              <div class="card-body">
                <div class="e-profile">
                  <div class="row">
                    <div class="col-12 col-sm-auto mb-3">
                      <div class="mx-auto" style="width: 140px;">
                        <div class="d-flex justify-content-center align-items-center rounded" style="height: 140px; background-color: rgb(233, 236, 239);">
                          <img src="<%= user.avatar %>" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                      <div class="text-center text-sm-left mb-2 mb-sm-0">
                        <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap"><%- user.name %></h4>
                        <p class="mb-0"><%- user.email %></p>
                        <div class="mt-2">                         
                          <label for="avatar">Change Photo:</label>
                          <br>
                          <input type="file" id="avatar" name="avatar" accept="image/*" value="<%= user.avatar %>>
                        </div>
                      </div>
                      <div class="text-center text-sm-right">
                        <% if(user.isAdmin){ %>
                          <span class="badge badge-secondary">Administrator</span>
                        <% } else{ %>  
                          <span class="badge badge-secondary">User</span>
                        <% } %>
                      </div>
                    </div>
                  </div>
                  <div class="tab-content pt-3">
                    <div class="tab-pane active">
                        <div class="row">
                          <div class="col">
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>Full Name</label>
                                  <input class="form-control" type="text" name="name" placeholder="Full Name" value="<%= user.name %>">
                                </div>
                              </div>
                              <div class="col">
                                <div class="form-group">
                                  <label>Username</label>
                                  <input class="form-control" type="text" name="username" placeholder="UserName" value="<%= user.username %>" readonly="readonly">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>Email</label>
                                  <input class="form-control" name="email" type="text" placeholder="E-Mail" value="<%= user.email %>">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col mb-3">
                                <div class="form-group">
                                  <label>About</label>
                                  <input class="form-control" placeholder="My Bio" name="description" value="<%= user.description %>">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12 col-sm-6 mb-3">
                            <div class="mb-2"><b>Change Password</b></div>
                            <div class="row">
                              <div class="col">
                                <!-- <div class="form-group">
                                  <label>Current Password</label>
                                  <input class="form-control" type="password" placeholder="password" value="<%= user.password %>">
                                </div> -->
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>New Password</label>
                                  <input class="form-control" type="password" name="newpassword" placeholder="password">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>Confirm <span class="d-none d-xl-inline">Password</span></label>
                                  <input class="form-control" type="password" name="confirmpassword" placeholder="password">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col d-flex justify-content-end">
                            <button class="btn btn-primary" type="submit">Save Changes</button>
                          </div>
                        </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<%- include("../partials/footer") %>